@model Crud.Models.tblStudents

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>tblStudents</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Regno)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Regno)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tblGrades.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblGrades.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
